/* 基本样式 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-weight: normal;
}
i,
cite,
caption,
em,
var,
code,
strong,
address,
dfn {
  font-style: normal;
  font-weight: normal;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
a {
  color: #555;
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
a:link {
}
a:visited {
}
a:active {
}
button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  outline: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  resize: none;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.clearfix {
  *zoom: 1;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
html {
  overflow-y: scroll;
  height: 100%;
}
body {
  height: 100%;
  min-width: 1240px;
  font-size: 14px;
  background: #fff;
  color: #555;
  font-family: "Microsoft Yahei", "Helvetica Neue", Arial, sans-serif;
  padding-top: calc(constant(safe-area-inset-top) * 2);
  /* iOS 11.0-iOS 11.1 */
  padding-top: calc(env(safe-area-inset-top) * 2);
  /* iOS 11.2 */
  padding-left: calc(constant(safe-area-inset-left) * 2);
  padding-left: calc(env(safe-area-inset-left) * 2);
  padding-right: calc(constant(safe-area-inset-right) * 2);
  padding-right: calc(env(safe-area-inset-right) * 2);
  padding-bottom: calc(constant(safe-area-inset-bottom) * 2);
  padding-bottom: calc(env(safe-area-inset-bottom) * 2);
}

#layout {
  height: 100%;
}
#app {
  height: 100%;
}
main {
  box-sizing: border-box; /*为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制*/
  min-height: 100%;
  // padding-bottom: 352px; /* 滚动内容 */
  // margin-bottom: -352px; /* 底部的高 */
  padding-bottom: 450px; // 因为把头部放到了main 外面所以是头部加底部
  margin-bottom: -450px;
  overflow: hidden;
}
.layout {
  min-height: 100%;
}

/* 基本样式 */

/* 单行 */
.moreWord {
  overflow: hidden;
  text-overflow: ellipsis; /*超出部分以省略号显示*/
  white-space: nowrap;
}
/* 多行 */
.moreMWord {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* 可以显示的行数，超出部分用...表示*/
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.middle::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.modal-open {
  position: fixed;
  height: 100%;
}

.m-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.m-basePopup {
  width: 6rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  overflow: hidden;
  background: #fff;
}

.close {
  font-size: 0.23rem;
  text-align: center;
  position: absolute;
  right: 0.14rem;
  top: 0.05rem;
  width: 0.3rem;
}

.m-wrap-btn > button {
  width: 2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.23rem;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border: 0;
  background-color: transparent;
  outline: none;
}
.m-wrap-btn > button:nth-of-type(1) {
  color: #fff;
  background: #2878ff;
  border: 0.01rem solid #2878ff;
}
.m-wrap-btn > button:nth-of-type(2) {
  color: #333;
  background: #fff;
  border: 0.01rem solid #999;
}
.m-wrap-btn {
  text-align: center;
}
.m-wrapPopup {
  height: calc(100% - 1.45rem);
  margin-top: 0.36rem;
  font-size: 0.23rem;
  overflow: auto;
}

/* loading */

.loadingHtml_img {
  width: 60px;
  height: 60px;
  -webkit-animation: download 1s linear 1s 5 alternate;
  animation: download 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  z-index: 1;
}

@-webkit-keyframes download {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes download {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* !!!loading */

.s-star span {
  font-size: 0;
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background: url("../../assets/image/notstar.png") no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
.s-star .stars {
  background: url("../../assets/image/stars.png") no-repeat;
}

.s-star .halfstar {
  background: url("../../assets/image/halfstar.png") no-repeat;
}
.s-star font {
  font-size: 14px;
  color: #999;
  vertical-align: middle;
}
